[Unit]
Description=xkeysnail

[Service]
Type=simple
KillMode=process
ExecStartPre=/usr/bin/xhost +SI:localuser:root
ExecStart=/usr/local/bin/xkeysnail /home/castaneai/.xkeysnail/config.py -q
Restart=on-failure
RestartSec=3
Environment=DISPLAY=:1

[Install]
WantedBy=default.target

