[user]
    name = castaneai
    email = castaneai@castaneai.net

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto

[core]
    editor = vim
    whitespace = cr-at-eol

[alias]
    s = status
    st = status
    ss = status -s
    po = push origin
    co = checkout
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[pull]
	rebase = true
[init]
	defaultBranch = main

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[include]
path = ~/.gitconfig.local

