[user]
    name = castaneai
    email = castaneai@castaneai.net

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto

[core]
    editor = vim
    whitespace = cr-at-eol

[alias]
    s = status
    st = status
    ss = status -s
    po = push origin
    co = checkout
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
