[Desktop Entry]
Type=Application
Version=1.0
Name=xkeysnail
GenericName=Keymapper
Exec=$HOME/.xkeysnail/start.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true

